* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: consolas, monospace;
    font-size: 1rem;
    
}

*:focus {
    outline: none;
}

*:hover {
    cursor: default;
}

body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.select {
    text-decoration: underline;
    text-underline-offset: 0.1rem;
}

.select:hover, .redo:hover {
    cursor: pointer;
}

.window {
    background-color: #ddd;
    width: 50vw;
    height: auto;
    padding: 2%;
    border-radius: 1vw;
}

.output {
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
}

.input {
    margin-top: 2%;
    border: none;
    width: 40vw;
    border-radius: 1%;
    padding: 1%;
    padding-left: 2%;
}

.input:hover {
    cursor: text;
}

.redo:focus {
    background-color: #e3e3e3;
}

.redo {
    border: none;
    background-color: #eee;
    padding: 1%;
    width: 5vw;
}

.header {
    position: absolute;
    transform: translate(-1vw,-9vh);
}

.result {
    position: absolute;
    transform: translateX(-100%) translate(47vw,-9vh);
}

.correct {
    color: #02ab02;
}

.wrong {
    color: #da0000;
}

.current {
    color: #dd30dd;
}

.feedbackwrong {
    background-color: rgba(255,0,0,0.2);
}